.body-content {
  margin: 30px;
}
.container-fluid {
  min-width: 1550px;
}
.panel-heading,
h2 {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}
.panel-primary .col-md-6 {
  padding: 0;
}
.panel-primary .panel-body {
  padding: 0;
}
.panel-footer {
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}
.datepicker {
  color: #337ab7;
}
select {
  max-width: none;
}
.google-visualization-tooltip {
  width: 820px;
  height: 560px;
  overflow-y: scroll;
  z-index: 3;
  font-size: 14px;
}
caption {
  cursor: pointer;
}
caption:hover:after {
  content: " (" attr(title) ")";
}
.affix {
  top: 200px;
}
#ShowLocationPanel:hover {
  cursor: pointer;
}
#ShowLocationPanel + .panel {
  display: none;
}
#ShowLocationPanel + .panel-info {
  background-color: lightgray;
}
#ShowLocationPanel + .panel-info .row * {
  margin: 0px 10px 10px;
}
#ShowLocationPanel + .panel-info .panel-body {
  color: black;
  text-align: right;
  background-color: lightgray;
}